@media only screen and (min-width: 1280px){
        .ui-page {
            width: 960px !important;
            margin: 0 auto !important;
            position: relative !important;
            border-right: 0px outset !important;
            border-left: 0px outset !important;
        }
    }

.ui-content {
        max-width:600px;
        clear: both;
        padding: 10px;
	margin: 0 auto;
}

h2 	{
	text-align:center;
	}
