    @media only screen and (min-width: 1280px){
        .ui-page {
            width: 960px !important;
            margin: 0 auto !important;
            position: relative !important;
            border-right: 0px outset !important;
            border-left: 0px outset !important;
        }
    }

.content-container-left {
	max-width:430px;
	float: left;
	padding: 10px;
	margin: 0 auto;	
}
.content-container-right {
        max-width:430px;
        float: right;
        padding: 10px;
}

.content-container-center {
        max-width:600px;
        clear: both;
        padding: 10px;
	margin: 0 auto;
}

.illu-contentbereich {
	width: 100%;
	clear: both !important;
	margin: 0 auto !important;
	padding: 10px;
	}

h2 	{
	text-align:center;
	}
